*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
section{
    min-height: 100vh;
}

.inputfield {
  height: 100px;
  font-size: 2rem !important;
  color: white !important;
 


}
.btn{
    font-size: 10px !important;

}
.form-control{
  color: white !important;
  font-size: 3rem !important;
}


  
