*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.section{
    max-width: 1000px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;


}
.one{
    width: 10%;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    background-color: red;
}
.two{
    width: 10%;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    background-color: rgb(115, 255, 0);
}
.symbol{
   
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
}
.three{
    width: 20%;
    padding: 50px;
    margin: 10px;
    background-color:rgb(245, 242, 238);
}
