*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cards{
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards 
.content{
    width: 200px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: green;
    color: honeydew;
}

.inputfield {
  height: 100px
}
.btn{
    font-size: 25px !important;

}
.form-control{
  color: white !important;
  font-size: 3rem !important;
}


  
