
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .container {
      margin: 0px auto;
      max-width: 1000px;
      position: relative;
  }
  .container .prev,
  .container .next {
      position: absolute;
      z-index: 2;
      top: 40%;
      font-size: 3rem;
      cursor: pointer;
      
  }
  .container .prev {
      left: 0;
  }
  .container .prev .arrow-left {
      height: 20px;
      width: 20px;
      margin: 10px;
      color: rgb(247, 235, 235);
  }
  .container .next {
      right: 0;
  }
  .container .next .arrow-right {
    height: 20px;
    width: 20px;
    margin: 10px;
    color: rgb(247, 235, 235);
  }
  .slider {
      position: relative;
      height: 500px;
      max-width: 100%;
  }
  
  .slide {
      min-width: 100%;
      max-width: 1000px;
      height: 500px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
  }
  
  .visible {
      opacity: 1;
  }
  
  .slide img {
      display: block;
      width: 100%;
      height: 100%;
  }
  
