
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
  .quiz-container {
    background-color: rgb(153, 156, 153);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    max-width: 95vw;
    padding: 50px;
    overflow: hidden;
  }
  button {
    border-radius: 100px;
    padding: 20px;
    margin: 10px;
    border: none;
  }
  .bg{
    color: green;
    font-size: 1rem;
  }
  .pop{
    display: none;
    font-size: 3rem;
  }
  .red{
    background-color: FireBrick;
  }
  
  .orange{
    background-color: orange;
  }
  
  .yellow{
    background-color: yellow;
  }
  
  .green{
    background-color: green;
  }
  
  .blue{
    background-color: DeepSkyBlue;
  }
  
  .purple{
    background-color: RebeccaPurple;
  }
  
  .grey{
    background-color: grey;
  }
  
  .white{
    background-color:white;
  }
  
  .black{
    background-color:black;
  }

  
