*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
section{
    min-height: 100vh;
}

button {
    border-radius: 100px;
    padding: 20px;
    margin: 5px;
  }
  
  .red{
    background-color: FireBrick;
  }
  
  .orange{
    background-color: orange;
  }
  
  .yellow{
    background-color: yellow;
  }
  
  .green{
    background-color: green;
  }
  
  .blue{
    background-color: DeepSkyBlue;
  }
  
  .purple{
    background-color: RebeccaPurple;
  }
  
  .grey{
    background-color: grey;
  }
  
  .white{
    background-color:white;
  }
  
  .black{
    background-color:black;
  }

  
